name: Azure Pipelines

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
- main

# ToDo: Replace the agent pool name, if you are using Udacity Cloud lab. 
# Otherwise, comment out the line below. 
pool: myAgentPool

variables:
  python.version: '3.9.24'  #'3.7.6'
  # ToDo: Replace the service connection name as used in the DevOps project settings
  azureServiceConnectionId: 'myServiceConnection'
  # Project root folder. Point to the folder containing manage.py file.
  projectRoot: $(System.DefaultWorkingDirectory)
  # Environment name
  environmentName: 'test-vm'   
  # Web app name
  webAppName: 'myAppli3-AppService' 
  # chromedriver version
  chromedriverVersion: '142.0.7444.59'
  # userAgent
  userAgent : 'devopsagent'



stages:
#--------------------------------------------#  
# BUILD STAGE
#--------------------------------------------#    
- stage: Build
  jobs:
  - job: BuildInfrastructure
    steps:
    #--------------------------------------------#  
    # Use Terraform to create the Infrastructure      
    # Install Terraform on the pipeline agent 
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@0
      displayName: 'Terrafom installation'
      inputs:
        terraformVersion: '1.2.9'
    
    # Run Terraform Init on the pipeline agent 
    # ToDo: Replace the resource group name, storage account name, and container name below
    

  
#--------------------------------------------#
    # Selenium (UI) Test Suite - Archive the package  
    # "ArchiveFiles@2" picks up the web package and archives it.
    - task: ArchiveFiles@2
      displayName: 'Archive UI Tests'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/automatedtesting/selenium'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-uitests.zip'
    # Selenium Test Suite - Publish the package  
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-uitests.zip   # Same as the archiveFile artifact above. 
      displayName: 'Upload Package uitests'
      artifact: drop-uitests

     
   

#--------------------------------------------#  
# DEPLOYMENT STAGE
#--------------------------------------------#    
- stage: Deploy
  jobs:
  #--------------------------------------------#  
  # Deploy FakeRestAPI Web App
  # ToDo: Provide <environment name> you created in your DevOps project

              
  #--------------------------------------------#  
  # Selenium | Functional UI Tests
  # ToDo: 
  - deployment: VMDeploy
    displayName: Selenium Tests
    environment:
      name:  "$(environmentName)"       # ToDo: Change/provide a name
      resourceType: VirtualMachine
      tags: selenium  #MDE
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop-uitests     # ToDo: Change/provide a name
            
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |           
                #! /bin/bash
                echo "DEBUG START 1"
                chromedriver -v
                chromium --version
                which chromium

                sudo apt-get upgrade -y
                sudo apt-get install python3-pip -y
                sudo apt-get install unzip -y
                sudo apt-get install -y chromium-browser

                
                echo "DEBUG START 2"
                chromedriver -v
                chromium --version
                which chromium

                pip3 install selenium
                
                echo "DEBUG START 3"
                chromedriver -v
                chromium --version
                which chromium
                pip show selenium

                cd ~/
                DIR=/home/testuser/app
                if [ ! -d "$DIR" ]; then
                    mkdir app
                fi
                mv /home/testuser/azagent/_work/1/drop-uitests/$(Build.BuildId)-uitests.zip app
                cd app
                unzip -o $(Build.BuildId)-uitests.zip
                FILE=/home/testuser/app/chromedriver_linux64.zip
                #if [ ! -f "$FILE" ]; then
                if [ -n "$FILE"  ]; then
                    #LATEST=$(wget -q -O - http://chromedriver.storage.googleapis.com/LATEST_RELEASE)
                    #wget http://chromedriver.storage.googleapis.com/$LATEST/chromedriver_linux64.zip
                    #unzip -o chromedriver_linux64.zip
                    #sudo ln -s $PWD/chromedriver 


                    VERSION_NEEDED=142.0.7444.59
                    wget https://storage.googleapis.com/chrome-for-testing-public/$VERSION_NEEDED/linux64/chromedriver-linux64.zip
                    unzip -o chromedriver-linux64.zip
                    ## sudo ln -sfn $PWD/chromedriver /usr/local/bin/chromedriver ... does not work, there is still an old version
                    sudo mv chromedriver-linux64/chromedriver /usr/local/bin/chromedriver
                    sudo chmod +x /usr/local/bin/chromedriver
                    chromedriver --version
                    echo "DEBUG START 4"
                    chromedriver -v
                    chromium --version
                fi
                export PATH=$PATH:/home/testuser/app
                echo "DEBUG START 5"
                chromedriver -v
                chromium --version

                echo "Starting Selenium Tests"
                python3 add_remove_from_cart.py >> selenium.log
                
                cat selenium.log
                echo "Completed Selenium Tests. Check selenium.log for results."
